/* GERNERALES ----------------------------------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* INDEX ----------------------------------------------------------------------------*/


/* DETALLE PRODUCTO -----------------------------------------------------------------*/
